@using EntityLayer.Concrete
@model List<HelpDocument>


@{
    Layout = "~/Views/Shared/_DocumentLayout.cshtml";
}

@section navbar{
    <section id="top" class="section docs-heading">

        <div class="row">
            <div class="col-md-12">
                <div class="big-title text-center">
                    <h1>@ViewBag.mesaj</h1>
                    <p class="lead">Your awesome theme / template documentation version 1.0</p>
                </div>
                <!-- end title -->
            </div>
            <!-- end 12 -->
        </div>
        <!-- end row -->

        <hr>
    </section>
}

@section menu{
    <div class="col-md-3">
        <nav class="docs-sidebar" data-spy="affix" data-offset-top="300" data-offset-bottom="200" role="navigation">
            <ul class="nav">
                @foreach (var item in Model.Select((value, i) => new { i, value }))
                {
                    var value = item.value;
                    var index = item.i;
                    <li>@value.Title</li>
                }
            </ul>
        </nav>
    </div>
}

<div class="col-md-9">
    @foreach (var item in Model.Select((value, i) => new { i, value }))
    {
        var value = item.value;
        var index = item.i;
        <section class="welcome">

            <div class="row">
                <div class="col-md-12 left-align">
                    <h2 class="dark-text">@value.Title</h2>
                    <div class="row">
                        <div class="col-md-12 full">
                            <div>
                                <p>@value.Body</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

</div>

