
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddHelpCategory</title>
</head>
<body>
    <h1>HelpCategory eleman ekleme</h1>
    <br />
    <form class="form-group" method="post">
        <input type="text" placeholder="Categori Adı" name="Name" class="form-control" />
        <br />
        <input type="text" placeholder="Categori Açıklaması" name="Description" class="form-control" />
        <br />
        <input type="text" placeholder="Categori Resmi" name="Image" class="form-control" />
        <br />
        <button class="btn btn-primary">Ekle</button>
    </form>
</body>
</html>

