
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Burası HelpCategory Index Sayfasıdır.</p>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
            <tr>
                <td>Burası Id</td>
                <td>Burası Name</td>
                <td>Burası Description</td>
                <td>Burası Image</td>
            </tr>

        </table>
    </div>
</body>
</html>
