@using EntityLayer.Concrete
@model List<HelpCategory>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help Category</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Documentation_Template/css/manuel.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Documentation_Template/css/manuel.css" />
    <link rel="stylesheet" type="text/css" href="~/Documentation_Template/css/chatbot.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav__logo">
                <h3>Dokümantasyon</h3>
            </div>
            <ul class="nav__menu">
                <li>
                </li>

                <li>
                </li>

                <li>
                </li>

                <li class="nav__search">
                    <input class="nav__input" placeholder="Search..." />
                </li>
            </ul>
        </nav>
    </header>

    <div class="categories">
        <h2>Ana Kategoriler</h2>
        <div class="category__elements">
            @foreach (var item in Model.Select((value, i) => new { i, value }))
            {
                var value = item.value;
                var index = item.i;

                <a href="/HelpDocument/Index/@value.Id/1" class="category">
                    <img src="https://images.unsplash.com/photo-1659468525744-314c75acdd38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3732&q=80"
                         alt="" />
                    <div class="category__body">
                        <h3>@value.Name</h3>
                        <p>@value.Description</p>
                    </div>
                </a>

            }
        </div>
    </div>
    <div class="chatbox">
        <div class="chatbox__button">
            <a href="http://10.250.250.41:8003/">
                <button><img src="~/Documentation_Template/images/chatbox-icon.svg" /></button>
            </a>
        </div>
    </div>
</body>
</html>

